ul {
    padding: 0;
    margin: 0 0 0 1rem;
}

ul li {
    padding: 0;
    margin: 0;
}

ul li a {
    color: #000;
    text-decoration: underline;
}

h5 {
    font-weight: bold;
}

.blk {
    border: 1px solid #e5e5e5;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0 1rem;
}

.member-col ul {
    padding: 0;
    margin: 0;
}

.member-col ul li {
    list-style-type: none;
}

.home-a {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.home-a img {
    width: 50px;
    height: 50px;
}

.result-table-div {
    max-height: 70vh;
    display: block;
    margin: auto;
    max-width: 1400px;
    overflow-y: auto;
}

a {
    color: #000;
    text-decoration: underline;
}

th {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    /* padding: 0.2rem 0.5rem; */
}

td {
    /* padding: 0.2rem 0.5rem; */
    background: #e5e5e5;
    border: 1px solid #fff;
}


/*  */